@import "tailwindcss";

@theme {
    --animate-true: true 1s ease-out;
    --animate-false: false 1s ease-out;

    @keyframes true {
        25% {
            background-color: white;
        }

        50% {
            background-color: black;
        }

        75% {
            background-color: white;
        }
    }

    @keyframes false {
        25% {
            background-color: white;
        }

        50% {
            background-color: black;
        }

        75% {
            background-color: white;
        }
    }
}